# =========================
# ROS / Catkin / Colcon
# =========================
# 编译产物（忽略名为build devel install目录下的所有内容）
build/
devel/
install/

# 其他无用
.catkin_workspace

# 日志文件和目录
log/
logs/
*.log

# 编译数据库
compile_commands.json
.catkin_tools/

# =========================
# 常见 IDE 和编辑器配置
# =========================
.vscode/
.idea/
*.swp
*~
.DS_Store

# =========================
# Python 缓存文件
# =========================
__pycache__/
*.pyc
*.pyo

# =========================
# 其他临时文件或二进制文件（忽略任何目录下的、所有以 .so .a .out 结尾的文件。）
# =========================
*.so
*.a
*.out